<h1>All Tickets</h1>

<style>
    table {
        width: 100%;
    }
    td {
        text-align: center;
    }

</style>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Subject</th>
            <th>Content</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @tickets.each do |ticket| %>
            <tr>
                <td><%= ticket.name %></td>
                <td><%= ticket.email %></td>
                <td><%= ticket.subject %></td>
                <td><%= ticket.content %></td>
                <td>
                    <%= form_for ticket, url: ticket_path(ticket), method: :patch do |f| %>
                    <% tickets_options = Ticket.statuses.keys.map { |status| [status.humanize, status, { disabled: (status == 'resolved' && !ticket.has_non_empty_comments?) }] } %>
                        <%= f.select :status, tickets_options, {}, onchange: 'this.form.submit();' %>
                    <% end %>
                </td>
                <td><%= button_to 'Show', ticket_path(ticket), method: :get %></td>
                <td><%= button_to 'Delete', ticket_path(ticket), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
    </tbody>
</table>
</br></br>

<p>
    <b>Statistics:</b></br>
    <% Ticket.statuses.keys.each do |status| %>
        <%= "#{status.humanize}: #{@ticket_counts[status] || 0}" %>
        </br>
    <% end %>
</p>