<h1>Create a New Ticket</h1>

<%= form_for @ticket, data: { turbo: "false" } do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    </br>   </br>

    <%= f.label :subject %>
    <%= f.text_field :subject %>
    </br>   </br>


    <%= f.label :content %>
    <%= f.text_area :content %>
    </br>   </br>

    <%= f.label :priority %>
    <%= f.select :priority, Ticket.priorities.keys %>
    </br>   </br>

    <%= f.hidden_field :assigned_to_id, value: current_user.id %>
    </br>   </br>


    <%= f.submit "Create Ticket" %>
<% end %>

<% if @ticket&.errors.any? %>
    <div class="errors" style="color:red">
        <ul>
            <% @ticket.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>
