<h1><%= @ticket.subject %></h1>
<p><%= @ticket.content %></p>
</br></br>
<% if current_user.manager? %>
    <%= form_with model: [@ticket, @ticket.comments.build] do |f| %>
        <%= f.text_area :content, placeholder: 'Add comment' %>
        </br>
        <%= f.submit "Create Comment" %>
    <% end %>
<% end %>


<% non_empty_comments = @ticket.comments.reject { |comment| comment.content.blank? } %>
<% unless non_empty_comments.empty? %>
    <p><b>Comments</b></p>
    <ol>
        <% non_empty_comments.sort_by(&:id).each do |comment| %>
        <li>
            <p><%= comment.content %></p>
            <p>By: <%= comment&.user&.email %></p>
        </li>
        <% end %>
    </ol>
<% end %>

