<!DOCTYPE html>
<html>
  <head>
    <title>SupportTicketSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
</br></br>

<% if logged_in? %>
  <%= link_to 'Sign Out', logout_path %></br></br>
  <%= link_to 'New Ticket', new_ticket_path %>

<% else %>
  <%= link_to 'Sign In', login_path %>
<% end %>

